<section class="bg-red-500 py-10 mt-10 flex flex-col md:flex-row justify-center items-center">
    <div class="flex flex-row items-center pb-10">
        <svg xmlns="http://www.w3.org/2000/svg" class="hover:scale-110 duration-300 w-20 md:w-24" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
        <h2 class="text-3xl md:text-6xl md:w-64 md:mr-32">¿DÓNDE ESTAMOS?</h2>
    </div>
    <iframe class="w-96 h-64 md:w-2/4 md:h-96 px-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12664.016618445223!2d-5.951441546025118!3d37.484228330172066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1269d35581b8e7%3A0x6cbd38d9d51453d9!2s41300%20San%20Jos%C3%A9%20de%20la%20Rinconada%2C%20Sevilla!5e0!3m2!1ses!2ses!4v1717344847622!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<section id="info" class="flex flex-col md:flex-row items-center md:items-start md:mx-40 mt-20 md:justify-between">
    <div class="flex flex-col">
        <div class="flex flex-row gap-8">
            <svg xmlns="http://www.w3.org/2000/svg"  class="hover:scale-110 duration-300 w-20 md:w-24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-due"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
            <h2 class="text-3xl md:text-6xl mt-5">HORARIOS</h2>
        </div>

        <div class="py-10 flex flex-col justify-center items-center text-yellow-300">
            <div class="flex flex-col text-2xl items-center">
                <span class="underline">LUNES A VIERNES</span>
                <span>10:00 a 15:00</span>
                <span>18:00 a 23:00</span>
            </div>
        
            <div class="flex flex-col text-2xl mt-8 items-center">
                <span class="underline">SÁBADO</span>
                <span>10:00 a 15:00</span>
            </div>  
        </div>
    </div>


    <div class="flex flex-col mt-10 md:mt-0 items-center">
        <div class="flex flex-row gap-8">
            <svg  xmlns="http://www.w3.org/2000/svg"  class="hover:scale-110 duration-300 w-20 md:w-24" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-phone"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
            <h2 class="text-3xl md:text-6xl mt-5">CONTACTO</h2>
        </div>

        <div class="flex flex-col text-center text-2xl py-10 mt-4 mx-8 text-yellow-300">
            <span class="text-2xl">+34 651 561 146</span>
            <span class="text-2xl">masterburger@prueba.com</span>
        </div>

    </div>
</section>